@import "../core/variables";
@import "../core/mixins";

.charCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  @include desktop {
    width: 240px;
    height: 240px;
  }

  &__title {
    text-transform: capitalize;
    font-size: 20px;
    width: 100%;
  }
  &__img {
    width: 70%;
  }
}
