@import "../core/variables";
@import "../core/mixins";

.charCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__title {
    text-transform: capitalize;
    font-size: 16px;
    text-align: center;
    font-family: $fontText;
    color: $yellow;
    @include tablet {
      font-size: 18px;
    }
    @include desktop {
      font-size: 22px;
    }
  }
  &__img {
    width: 70%;
  }
  &__subtitle {
    font-size: 12px;
    text-align: center;
    font-family: $fontText;
    color: $orange;
    @include tablet {
      font-size: 14px;
    }
    @include desktop {
      font-size: 16px;
    }
  }
}
