@import 'core/reset';
@import 'core/variables';
@import 'core/mixins';

.body {
  background-color: $darkgrey;
  height: 100%;
}

.main {
  margin: 0 15px;
  @include tablet {
    margin: 0 45px;
  }
  @include desktop {
    max-width: 1200px;
    margin: 0 auto 0 auto;
  }
}